# -------------------------
# GROQ
# -------------------------
GROQ_API_KEY=
GROQ_MODEL=
# -------------------------
# Embeddings
# -------------------------
EMBEDDING_MODEL=

# -------------------------
# ChromaDB
# -------------------------
CHROMA_DB_PATH=
COLLECTION_NAME=
TOP_K=

# -------------------------
# JWT
# -------------------------
SECRET_KEY=

ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=